absl-py
amqp
anyio
astunparse
async-timeout
billiard
Brotli
cachetools
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
cmake
colorlog
Cython
dnspython
email-validator
facenet-pytorch
fastapi
filelock
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httptools
httpx
idna
itsdangerous
jax
Jinja2
keras
Keras-Applications
keras-vggface @ git+https://github.com/nShravankg/Keras_Vggface.git@b6a1fcbc28e2ef92cf9b70db773460677f3c4cd8
kombu
libclang
lit
Markdown
MarkupSafe
ml-dtypes
mpmath
mtcnn
mutagen
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
opencv-python
opt-einsum
orjson
packaging
Pillow
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycryptodomex
pydantic
pymongo
python-dotenv
python-multipart
pytz
PyYAML
redis
requests
requests-oauthlib
rsa
scipy
six
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
torch
torchvision
tqdm
triton
typing_extensions
ujson
urllib3
uvicorn
uvloop
vidgear
vine
watchfiles
wcwidth
websockets
Werkzeug
wrapt
yt-dlp
